<nav class="navbar navbar-inverse" style="margin-bottom:20px">
    <div class="    container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/njs-admin">Admin Dashboard </a>
            <a class="navbar-brand" href="/customer">Customer Dashboard </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
           <li><a href="/login/expired">Logout</a></li>
        </ul>

    </div>
</nav>