<div class="card" >
    <div class="card-header">
        Admin Dashboard
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/njs-admin/manage/orders">Orders</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/trademark">Trademarks</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/cart-items">Cart Items</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/promo">PromoCode</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/user">Users</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/attorneys">Attorneys</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/country">Countries</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/articles">Articles</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/activities">Activity Logs</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/euactions">EUIPO Action Codes</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/tasks">Task</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/events">Events</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/leads">Leads</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/opposition-leads">Opposition Leads</a></li>
            <li class="list-group-item"><a href="/login">Logout</a></a></li>
        </ul>
    </div>
</div>