<div class="card" >
    <div class="card-header">
        Admin Dashboard
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/njs-admin/manage/user">Manage Users</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/trademark">Manage Trademarks</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/country">Manage Countries</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/tasks">Manage Task</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/events">Manage Events</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/leads">Manage Leads</a></li>
            <li class="list-group-item"><a href="/njs-admin/manage/opposition-leads">Opposition Leads</a></li>
            <li class="list-group-item"><a href="/login">Logout</a></a></li>
        </ul>
    </div>
</div>