<div class="footer" style="background-color: #212121;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 140"><path fill="#fff" fill-opacity="1" d="M0,32L120,48C240,64,480,96,720,96C960,96,1200,64,1320,48L1440,32L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
        <div class="container">
    
            <div class="row">
                <div class="col-md-4 social-logo">
                    <a href="/"><img class="logo_footer" alt="trademarkers" src="/images/logo3.png"></a>
                    <a href="https://www.facebook.com/TrademarkersLLC/" target="_blank"><img class="social_footer" src="/images/v2-assets/social4.svg" alt="facebook"></a>
                    <a href="https://twitter.com/trademarkersllc" target="_blank"><img class="social_footer" src="/images/v2-assets/social2.svg" alt="twitter"></a>
                    <a href="https://www.linkedin.com/company/trademarkers/" target="_blank"><img class="social_footer" src="/images/v2-assets/social3.svg" alt="linkedin"></a>
                    <a href="http://bit.ly/TrademarkersYoutube" target="_blank"><img class="social_footer" src="/images/v2-assets/social1.svg" alt="youtube"></a>
                </div>
    
    
                <div class="col-md-5">
                <p class="text-center">
                    <a href="/contact">Contact</a> 
                    <a href="/prices">Pricing</a> 
                    <a href="/privacy">Privacy</a> 
                    <a href="/services">Services</a> 
                    <a href="/about">About</a> 
                    <a href="/terms">Terms</a> 
                </p>
                
                
    
                    <p class="text-muted" style="text-align: center;margin-top: 10px;">
                        <i class="fas fa-copyright"></i> 2020 Trademarkers LLC.
                    </p>
                    
                    
                </div>
    
                <div class="col-md-3 text-right" style="padding: 25px 0px 30px 10px;">
                  <p class="text-center banks-logos">
                      <img src="/images/v2-assets/mastercard.svg">
                      <img src="/images/v2-assets/american-express.svg">
                      <img src="/images/v2-assets/credit-card-visa.svg">
                  </p>
                </div>
                
            </div>
        </div>
    </div>