<nav class="navbar navbar-inverse" style="margin-bottom:50px">
    <div class="    container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/researcher">Trademarkers</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
           <li><a href="/login">Logout</a></li>
        </ul>

    </div>
</nav>