
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
  <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
  <meta property="og:site_name" content="" /> <!-- website name -->
  <meta property="og:site" content="" /> <!-- website link -->
  <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
  <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
  <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
  <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
  <meta property="og:type" content="article" />

  <!-- Webpage Title -->
  <title>TradeMarkers | Intractive Domain Agent</title>
  
  <!-- Styles -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="/interactive/css/bootstrap.min.css" rel="stylesheet">
  <link href="/interactive/css/font-awesome-5.css" rel="stylesheet">

   <!-- Favicon  -->
  <link rel="icon" href="/interactive/images/favicon.ico">
  <link href="/interactive/css/cp-style.css" rel="stylesheet">
  <link href="/stylesheets/custom.css" rel="stylesheet">
  

</head>
<body class="tm-sl-page tm-sl-ft-page">
 
  <main class="main-wrap">
    <header class="pg-header">
      <div class="container h-100">
        <div class="row align-items-center justify-content-between h-100">
          <div class="col-auto">
            <h1 class="pg-logo"><a href="/" title="Trade Markers"><img src="/interactive/images/logo.png" title="Trade Markers" width="248" height="43" alt="Trademarkers logo" /></a></h1>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="logd-info text-right">
              
            </div>
          </div>
        </div>
      </div>
    </header>

    <%- body %>

    <footer class="pg-footer">
      <div class="footer-copyright text-center">
        <div class="container">
          <p><%= moment().format('Y') %> Trademarkers LLC</p>
        </div>
      </div>
    </footer>
  </main>
  <script src="/interactive/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="/interactive/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
  <!-- <script src="https://js.stripe.com/v3/"></script> -->
  <!-- <script src="/javascript/pay.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->

  <script>
$( document ).ready(function() {
  $(".frm-sou").submit(function(){
    
    let action = $(this).attr('data-action');
    let number = $(this).attr('data-action-number');
    let response = $(this).attr('data-respond');
    let name = $("#decName").val()
    // let redUrl = 'pay';

    $.ajax({
      url: "/action/response/"+action+"/"+response,
      type:"GET",
      dataType:"json",
      data: {
        action: action,
        response: response,
        decName: name
      },
      contentType: "application/json",
      success: function( result ) {

        if ( (response * 1) < 3) { 
          $(location).attr('href', '/'+ number +'/pay')
        } else { 
          $(location).attr('href', '/')
        }
        
      }
    }); 

      return false;
  });

  var shipmentOptions = $('.crt-fct-opt input[type="checkbox"]');

      var shipmentOptInput = $('.crt-fct-opt-rgemail input[type="checkbox"]');
      var fedexShipmentOptInput = $('.crt-fct-opt-fedex input[type="checkbox"]');

      var shipmentEmail = $('.crt-fct-opt-rgemail #ShipmentEmail');
      var shipmentAddress = $('.crt-fct-opt-fedex #ShipmentAddress');

      $(shipmentOptions).change(function(){
        if(this.checked != true){
          $(this).parent('.opt-head').parent('.crt-fct-opt').removeClass('crt-fct-opt-active');
          return false;
        }
        else{
          $('.crt-fct-opt').removeClass('crt-fct-opt-active');
          $('.crt-fct-opt input[type="checkbox"]').prop("checked", false);
          $(this).prop("checked", true);
          $(this).parent('.opt-head').parent('.crt-fct-opt').addClass('crt-fct-opt-active');
          return true;
        }
      });

      $('.crt-fct-opt-rgemail .btn-chng-info').click(function(){
        $(this).prop('disabled', true);
        $('.crt-fct-opt-rgemail').addClass('addr-change-active');
      });

      $('.crt-fct-opt-fedex .btn-chng-info').click(function(){
        $(this).prop('disabled', true);
        $('.crt-fct-opt-fedex').addClass('addr-change-active');
      });

      $('#CertificateDeliverySelection').click(function(){

        var name = $("#shipping_name").val();
        var address = $("#shipping_address").val();
        var contact = $("#shipping_contact").val();
        var amount = $("#shipping_amount").val();
        var trdId = $("#trdId").val();
        var trdName = $("#trdName").val();
        var userEmail = $("#userEmail").val();
        var strClass = $("#strClass").val();
        var trdSer = $("#trdSer").val();

        if(fedexShipmentOptInput.prop("checked") != true){
            $('.cc-section-on-call').removeClass("cc-section-on-call-active");

            $.ajax({
              url: "/api/v1/delivery-method",
              type:"post",
              data: {
                name: name,
                address: address,
                contact: contact,
                amount: 0,
                trdId: trdId,
                type: 'Regular Mail',
                trdName: trdName,
                userEmail: userEmail,
                strClass: strClass,
                trdSer: trdSer
              },
              success: function( result ) {

               console.log(result);
               $("#selectedDeliveryMethod").text("Thanks for choosing a Delivery Method");
                $("#selectedDeliveryMethod").show();
              }
            }); 

            $('html, body').animate({scrollTop: "0"}, 1000);
            return false;
        } else {
            $('.cc-section-on-call').addClass("cc-section-on-call-active");

            $.ajax({
              url: "/api/v1/delivery-method",
              type:"post",
              data: {
                name: name,
                address: address,
                contact: contact,
                amount: 80,
                trdId: trdId,
                type: 'Fedex',
                trdName: trdName,
                userEmail: userEmail,
                strClass: strClass,
                trdSer: trdSer
              },
              success: function( result ) {

               console.log(result);
                
              }
            }); 

            $('html, body').animate({scrollTop: "900"}, 1000);
            setTimeout(function(){
                $('.cc-form-self #name').focus();

            }, 100);
            return true;
        }

        
      });

  

  // $(".btn-form-update").click(function(){
    
  //   let action = $(this).attr('data-action');
  //   let response = $(this).attr('data-respond');

   
  //     $.ajax({
  //       url: "/action/response/"+action+"/"+response,
  //       type:"GET",
  //       dataType:"json",
  //       data: {
  //         action: action,
  //         response: response
  //       },
  //       contentType: "application/json",
  //       success: function( result ) {
  //         // alert('Thanks for !');

  //         $(location).attr('href', '/')
  //       }
  //     }); 

    

    

  //   return false;
  // });

  

});
  </script>
</body>
</html>