<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>Upload SOU</h2>
</div>
            
<div class="col-md-12" >    
    <form ref='uploadForm' 
      id='uploadForm' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> 
</div>