<main class="main-wrap">
    <header class="main-header">
      <div class="container-fluid h-100 p-0">
        <div class="row h-100 align-items-center justify-content-start">
          <div class="col-auto">
            <h1 class="main-logo"><a href="#" title="Trademarkers Resources | Trademarkers"><img src="/assignment/images/logo.png" alt="logo image" title="Trademarkers Resources | Trademarkers" width="300" height="35" /></a></h1>
          </div>
        </div>
      </div>
    </header>

    <section class="section section-tm-aa">
      <div class="container h-100">
        <div class="section-head">
          <h2 class="h2">Template for <strong>Trademark Assignment:</strong></h2>
        </div>

        <div class="temp-list-wrap">
          <div class="row eql-col-h">

            <div class="col-md-6">
              <div class="temp-box temp-single">
                <div class="temp-head">
                  <h2 class="h4 temp-title">Simple Agreement <span class="text-tiny">(one pager):</span></h2>
                </div>
                <div class="temp-body">
                  <div class="temp-overlay">
                    <div class="temp-info">
                      <h2 class="h4 temp-info-title">Simple Trademark Assigned (accepted by <strong>USPTO</strong> and <strong>EUIPO</strong>) suitable if you trust the other party and do not need a lot of protections and are clear about who bears costs of recordal etc.</h2>
                    </div>
                    
                  </div>
                  <div class="temp-thumb">
                    <img src="/assignment/images/at-preview-single.jpg" alt="Single Page Document Preview" title="Simple Agreement" width="600" height="988" />
                  </div>

                </div>
                <div class="temp-footer">
                   <a href="#" class="btn btn-outline-light w-100" title="Select Template"><em class="fas fa-check-circle"></em> Select template</a>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="temp-box temp-multiple">
                <div class="temp-head">
                  <h2 class="h4 temp-title">Detailed Agreement:</span></h2>
                </div>
                <div class="temp-body">
                  <div class="temp-overlay">
                    <div class="temp-info">
                     <h2 class="h4 temp-info-title">OR: Use our <strong>CONTRACT GENERATOR</strong> to decide about details such as:</h2>
                        <ul class="temp-list">
                          <li>Purchase price for the assignment</li>
                          <li>Responsibility for the costs and recordal</li>
                          <li>Representations and warranties</li>
                          <li>Cooperation in case of future attacks against the trademark</li>
                          <li>Legal venue clauses</li>
                          <li>Arbitration</li>
                          <li>Notarization options</li>
                        </ul>
                    </div>
                  </div>
                  <div class="temp-thumb">
                     <img src="/assignment/images/at-preview-multiple.png" alt="Detailed Document Preview" title="Detailed Agreement" width="600" height="988" />
                  </div>
                </div>
                <div class="temp-footer">
                    <a href="#" class="btn btn-outline-light w-100" title="Select Template"><em class="fas fa-check-circle"></em> Select template</a>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <footer class="main-footer">
      <div class="footer-copyright">
        <div class="container h-100">
           <div class="row h-100 text-center align-items-center">
              <div class="col-12">
                <p class="font1 m-0">Copyright @ 2021 Trademarkers LLC</p>
              </div>
           </div>
        </div>
      </div>
    </footer>
  </main>