.dropdown-menu{
    min-width: 200px;

    max-height: 70vh;
    overflow: scroll;
}
.dropdown a{
    color: #fff;
    padding : 10px 15px;
}

.navbar-nav .nav-item a{
    color: #fff;
    padding : 10px 15px;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.header-nav li, .navbar-nav .cart-icon{ 
    display: inline;
    list-style: none;
}

.navbar-nav .cart-icon a.nav-link{ 
    color: #fff;
    position: relative;
    padding: 0;
    /* height:20px; */
}

.logd-info{
    position: relative;
}

.navbar-nav .nav-item a.dropdown-item {
    color: #212529;
    font-size: 14px;
}

.navbar-nav .nav-item a.dropdown-item img{
    display: inline
}

#top-header .navbar .nav-item .dropdown-menu a {
    color: #000;
    font-size: 14px;
}

.pg-header{
    overflow: unset !important;
}

.navbar-nav .cart-icon a.nav-link #shopping-cart{
    color: #fff;
    background: red;
    padding: 3px 6px;
    border-radius: 16px;
    font-size: 10px;
    position: absolute;
    top: -10px;
    left: -6px;
}

.profile-text-format{
    font-weight: 600;
}

.profile-text-format span{
    font-weight: 400;
}

.img-right{
    float:right;
    max-width : 300px;
}

.fieldsetCustom .form-control{
    border-radius: 0;
    border: none !important;
    border-bottom: 1px solid #6c757d !important;
    margin-bottom: 10px;
}

.pull-right-icon{
    float: right;
}