


<!-- main block Desktop -->
<div class="row block-welcome-yt">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 align-self-center">
				

				
			
				<!-- <span class="title-separator"></span> -->
				<div class="wrap-vid">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= ytId %>" allowfullscreen></iframe>
					</div>
				</div>
				

				
			</div>

			<div class="col-12 col-md-6 ">
				<!-- <div class="circle-2"></div> -->
				<!-- <img src="/images/h_fold1.png" alt="Register Trademark" class="img-responsive send-up" > -->
			</div>

		</div>
	</div>

	

</div>



<!--  block about -->


