<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body >

<header>
    <%- include('../partials/header'); %>
</header>

<main>


<!-- main block Desktop -->
<div class="row block-welcome-yt">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 align-self-center">
				

				
			
				<!-- <span class="title-separator"></span> -->
				<div class="wrap-vid">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= ytId %>" allowfullscreen></iframe>
					</div>
				</div>
				

				
			</div>

			<div class="col-12 col-md-6 ">
				<!-- <div class="circle-2"></div> -->
				<!-- <img src="/images/h_fold1.png" alt="Register Trademark" class="img-responsive send-up" > -->
			</div>

		</div>
	</div>

	

</div>



<!--  block about -->
<div class="bg-contact">
	<div class="container">
		<div class="row">
			
			<div class="col-12 col-md-6">
			
				<div class="contact-div">
					<h2>We can do it all</h2> 
					
					<p class="lead">Get in touch for a free consultation.</p>
					<span class="title-separator"></span>
					<!-- <span class="title-separator"></span> -->
				</div>
				<form class="custom-frm" method="POST" action="/contact">
	
					<div class="form-group">
						<label>Name</label>
						<input type="name" class="form-control" id="name" value="" name="name" required>


					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" value="" id="email" name="email" required>

					</div>
					<div class="form-group">
						<label for="phone">Phone</label>
						<input type="text"  class="form-control" value="" id="phone" name="phone" required>

		
					</div>
					<div class="form-group">
						<label for="msg">Message</label>
						<textarea class="form-control" value="" rows="7" name="message" required></textarea>

			
					</div>

					<button type="submit" class="btn btn-primary btn-register" style="font-size:18px;width:100%">Submit</button>
				</form>

			</div>


			<div class="col-12 col-md-6 ">

				<h2>Talk to an expert</h2>
				
				
				<p class="lead">We've got phone and chat support available for you:</p>

				<span class="title-separator"></span>

				<table class="tbl-contact">
					<tr>
						<td>Monday:</td>
						<td >Friday : 7am to 7pm (EST)</td>
					</tr>
					<tr>
						<td>Saturday:</td>
						<td >Closed</td>
					</tr>
					<tr>
						<td>Sunday:</td>
						<td >Closed</td>
					</tr>
					<tr>
						<td>Toll-Free:</td>
						<td ><b style="color: #1475A9;">1-800-293-3166</b></td>
					</tr>
					<tr>
						<td>Office:</td>
						<td><b style="color: #1475A9;">212-468-5500</b></td>
					</tr>
					<tr>
						<td>Fax:</td>
						<td><b style="color: #1475A9;">212-504-0888</b></td>
					</tr>
				</table>

				<a href="javascript:$zopim.livechat.window.show();" class="btn btn-black" style="padding: 10px 20px;border-radius: 30px 30px 0px 30px;">
				Chat <span class="fa fa-comments" style="font-size: 21px; padding: 0px 10px; color: rgb(255, 255, 255);"></span></a>
				
			</div>

		</div>
	</div>
</div>



</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>