<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>Add Task 
        <span class="create-btn"><a href="/njs-admin/tasks/add"><i class="fa fa-plus"></i></a></span>
    </h2>

    <form class="row" action="/njs-admin/manage/tasks/add" method="post">

    

        <div class="col-md-12">

            <div class="form-group">
                <label>Select Researcher</label>
                <select class="form-control" name="user_id">
                    <% users.forEach(function(user,key) { %>
                        <option value="<%= user._id %>"><%= user.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form-group">
                <label>Task Name</label>
                <input type="text" class="form-control" value="" placeholder="" name="task_name" required>
            </div>

            <div class="form-group">
                <label>Completion Date</label>
                <input type="date" class="form-control" value="" placeholder="" name="complication_date" required>
            </div>

            <input type="hidden" class="form-control" value="pending" name="task_status">
            

        </div>

        <div class="col-md-12">
            <div id="taskDetails" class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Task# 1</label>
                        <input type="hidden" class="form-control" value="1" name="details[1][task_number]">
                    </div>
        
                    <div class="form-group">
                        <label>Task Description/Scope</label>
                        <textarea class="form-control" name="details[1][task_description]"></textarea>
                    </div>

                    <input type="hidden" class="form-control" value="pending" name="details[1][task_status]">
                    
                </div>

            </div>
        </div>
        

        <div class="col-md-12">
            <span id="add-block" class="btn btn-primary">Add Task</span>
            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-rounded-primary" style="padding-left:40px;padding-right:40px;">Create Task</button>
            </p>
        </div>

    </form>
</div>
        

