<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>My Events <span class="create-btn"><a href="/researcher/events/add"><i class="fa fa-plus"></i></a></span></h2>

    <table id="myListDataTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Event Type</th>
                <th>Word Mark</th>
                <th>Serial Number</th>
                <th>Holder</th>
                <th>Opposing Mark</th>
                <th>Actions</th>
            </tr>
        </thead>
    
            <tbody>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>icons here</td>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>icons here</td>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>icons here</td>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>icons here</td>
                    </tr>
             
            </tbody>
        
    </table>
</div>
        