<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/researcher_head'); %>
</head>
<body >

    <div id="researcher-app">





        <%- include('../partials/researcher_header'); %>

        <div class="container">
            <div class="row justify-content-center ">
        
                <div class="col-md-3">
                    <%- include('../partials/researcher_side_nav'); %>
                </div>
        
                <div class="col-md-9">
        
                    <div class="col-md-12" style="margin-bottom:20px;">    
                        <h2>My Dashboard <span class="create-btn"><a href="/my-leads/create"><i class="fa fa-plus"></i></a></span></h2>
                    </div>
                    
        
                </div>
        
                
            </div>
        </div>

        
            
        
        <%- include('../partials/researcher_footer'); %>

    </div>

    


    </body>
    
</html>
