<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>My Leads </h2>
</div>

<div class="col-md-12">  
    <div class="row justify-content-center ">
        <div class="col-md-6">123</div>
        <div class="col-md-6">123</div>
        <div class="col-md-6">123</div>
        <div class="col-md-6">123</div>
    </div>  
</div>
                    