<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>My Task</h2>

    <h3 class="text-center">Completion Date</h3>
    <ul class="task-list">
        <li>
            <div class="card card-b">
                <div class="card-body">
                    <h4 class="card-title"><span class="numLabel">1</span>asdsadasd<span class="task-status pending">pending</span></h4>
                    <p class="card-text">asdasdsad</p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#taskDescModal">This Task</a>
                </div>
            </div>
        </li>

    </ul>
</div>
        