

    <section class="tm-section qa-panel-section">
      <div class="container h-100">
        <div class="row h-100 align-items-start">
          <div class="col-12">
              <div class="ar-wrap qa-stp">
                <div class="ar-box stp-row">
                  <div class="ar-box-head"><h1 class="ar-title">Active Orders</h1></div>
                  <div class="ar-cinfo">
                    <div class="ar-cname ar-info-line">Customer Name: <span class="ar-value">Seven Eight Six</span></div>
                    <div class="ar-cno ar-info-line">Customer Number: <span class="ar-value">1786</span></div>
                  </div>
                </div>
                <div class="ard-wrap stp-row">
                  
                  details here
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
