

    <section class="tm-section qa-panel-section">
      <div class="container h-100">
        <div class="row h-100 align-items-start">
          <div class="col-12">
              <div class="ar-wrap qa-stp">
                <div class="ar-box stp-row">
                  <div class="ar-box-head"><h1 class="ar-title">Active Orders</h1></div>
                  <div class="ar-cinfo">
                    <div class="ar-cname ar-info-line">Customer Name: <span class="ar-value">Seven Eight Six</span></div>
                    <div class="ar-cno ar-info-line">Customer Number: <span class="ar-value">1786</span></div>
                  </div>
                </div>
                <div class="ard-wrap stp-row">
                  <nav class="ard-nav">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-link active" id="nav-pending-tab" data-bs-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="true">Pending</a>
                      <a class="nav-link" id="nav-registered-tab" data-bs-toggle="tab" href="#nav-registered" role="tab" aria-controls="nav-registered" aria-selected="false">Registered</a>
                      <a class="nav-link" id="nav-all-tab" data-bs-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">All</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
                      <div class="ard-content">
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-us"><em class="sr-only">United States</em></span>United States</h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td><a href="/customer/orders/5">SevenEightSix</a></td>
                                    <td>Pending</td>
                                    <td><a href="#" class="text-danger">Action required</a></td>
                                  </tr>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td>Normal Text</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-de"><em class="sr-only">German</em></span>German</h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td><a href="#" class="text-danger">Action required</a></td>
                                  </tr>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td>Normal Text</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-registered" role="tabpanel" aria-labelledby="nav-registered-tab">
                      <div class="ard-content">
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-in"><em class="sr-only">India</em></span>India</h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td><a href="#" class="text-danger">Action required</a></td>
                                  </tr>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td>Normal Text</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                      <div class="ard-content">
                        <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-us"><em class="sr-only">United States</em></span>United States</h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td><a href="#" class="text-danger">Action required</a></td>
                                  </tr>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td>Normal Text</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-de"><em class="sr-only">German</em></span>German</h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td><a href="#" class="text-danger">Action required</a></td>
                                  </tr>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td>Normal Text</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-in"><em class="sr-only">India</em></span>India</h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td><a href="#" class="text-danger">Action required</a></td>
                                  </tr>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td>Normal Text</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-cn"><em class="sr-only">China</em></span>China</h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td><a href="#" class="text-danger">Action required</a></td>
                                  </tr>
                                  <tr>
                                    <td>05-01-2020</td>
                                    <td>1786-001</td>
                                    <td>1786-001</td>
                                    <td>SevenEightSix</td>
                                    <td>Pending</td>
                                    <td>Normal Text</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
