<div class="container">
	<div class="row justify-content-center box-bg-container">
		<div class="col-md-12">
					
			<h2>Federal Circuit affirms TTAB decision on refusal of design registration due to  functionality</h2>
            
            <p class="mt-3">For the purpose of packaging of finished coils of cable and wire, Reelex Packaging Solutions,
                Inc. (“Reelex”) filed for the registration of its box designs under International Class 9 at the
                United States Patent and Trademark Office (“USPTO”). The examining attorney refused to
                register the two box designs for electric cables and wire on grounds that the designs are
                functional under Section 2(e)(5) of the Lanham Act, 15 U.S.C. § 1052(e)(5) and non-distinctive.
                Aggrieved by the refusal, Reelex appealed to the Trademark Trial and Appeal Board (“Board”)
                which affirmed the examining attorney’s refusal on similar ground of functionality <i>(In re Reelex
                Packaging Solutions, Inc., Nos. 87285383, 87285412, 2019 BL 481341 (T.T.A.B. Oct. 23, 2019)</i>.
                Reelex, timely appealed to the United States Court of Appeals for the Federal Circuit (“Federal
                Circuit”) <i>(In re Reelex Packaging Solutions, Inc., 2020-1282 (Fed. Cir. Nov. 5, 2020)).</i> The
                Federal Circuit’s decision was in consonance with the substantial evidences which supported the
                Board’s finding and concluded that the designs are functional. Upholding the same, the Federal
                Circuit has approved the Board’s decision and refused the registration of the boxes.<br><br>
                Describing the features of the boxes, Reelex notes, “Proprietary winding machines wind cable in
                a figure-eight pattern that allows the cable and wire to be dispensed or ‘paid out’ from the box
                without kinking and tangling”. Reelex has a patent over its “tangle free technology” which is
                licensed to various wire and cable manufactures. Describing its technology, it notes the same as,
                “a patented method of winding a filamentary product (such as cord, wire, cable or tubing) into a
                figure-eight coil on a specialized coiling machine”. In 2016, Reelex filed two applications for
                registration of its box designs under International Class 9 at the USPTO. The application no. for
                the first one was 87285383 (‘383) and the second one was 87285412 (‘412).<br><br>
                Reelex provided the description of each of the boxes as ‘383 trade dress includes coil of cable or
                wire, a box having six sides where four sides are rectangular having length and width of 12 to 7.5
                inches and two sides being substantially square shaped having the length of 12 inches’. The box
                has a circular hole in the middle of one rectangular side, with the size of 0.75 to 1.00 inches. A
                tube is extended through the hole and through which the coil is dispensed from the package.
                Reelex refers the ‘383 trade dress as REELEX I box’. The ‘412 trade dress includes coil of cable
                or wire, a box having six sides where four sides are rectangular having length between 13 to 21
                
                inches and width between 57% to 72%of length along with two sides being substantially square
                shaped having its length in between 13 and 21 inches. The circular hole on one rectangular side
                is of 4 inches in the exact middle. A tube is extended through the hole and through which the coil
                is dispensed from the package. </p>
                <p class="text-center"><img src="/circuit-affair.png"></p>
                
                <p>The examining attorney refused the registration of the boxes on the premise that the trade dress is
                functional and non-distinctive. In further examination of the designs, the examining attorney was
                of the view that, for being registered as a trademark, the source of the goods should be indicative,
                which the two boxes lack. Aggrieved by the decision, Reelex appealed to the Trademark Trial
                and Appeal Board (‘Board’) and the Board conducted an oral hearing in August 2019,
                subsequently giving their decision in October 2019, affirming the examining attorney’s
                observation. The refusal by the Board was on two grounds, namely; functionality and
                distinctiveness.<br><br>
                The Board was of the view that the features of the box related to a utilitarian concern. While
                examining the designs, the Board noted, “(1) rectangular shape of the boxes . . . which is useful
                for shipping and storing;” and (2) the built-in handle in the ‘412 design, which makes it easier to
                lift and carry the box”. The Board further noted that the dimension of boxes and placement of the
                payout tubes are totally in proportion with the amount and size of the electric wires and cables
                placed.<br><br>
                
                Exemplifying the features of the box and to prove the utilitarian purpose that it solves, the Board
                further noted a few points. It asserted that several features in the box are utility based, including
                the payout hole allowing the user to have a twist free dispensing and the payout tube “to
                maintain the radial opening in the coil and to maintain the coil in alignment with the payout
                hole.” The position of the payout hole near the vertical centre was for providing easy access and
                a direct path for dispensing the cable. Through all these findings and observations, the Board
                concluded that the features were “dictated by the utilitarian purpose they serve.”<br><br>
                The Board also considered four factors from In re Morton-Norwich Products, Inc., 671 F.2d
                1332 (CCPA 1982) for determining the functionality of the boxes. The primary factor of
                registration of the utility patent disclosing the utilitarian advantage, favored the functionality
                aspect of the design. This decision, hence, did not go in favor of Reelex since it already has
                obtained five utility patents whereby the disclosure being done, stressed functionality. The five
                patents were:</p>

                <ul>
                    <li>U.S. Patent No. 5,810,272 for a Snap-On Tube and Locking Collar</li>
                    <li>U.S. Patent No. 6,086,012 for Combined Fiber Containers and Payout Tube and Plastic Payout Tubes</li>
                    <li>U.S. Patent No. 6,341,741 for Molded Fiber and Plastic Tubes</li>
                    <li>U.S. Patent No. 4,160,533 for a Container with Octagonal Insert and Corner Payout</li>
                    <li>U.S. Patent No. 7,156,334 for a Pay-Out Tube</li>
                </ul>

                <p>
                Aggrieved by the decision, Reelex appealed to the Federal Circuit. The Federal Circuit found “no
                error in the Board’s functionality analysis”. The Federal Circuit was affirmed by the arrival of
                the Board’s decision backed by substantial evidences. Reelex’s patent showed that the two boxes
                were dictated by their function. Reiterating the Morton-Norwich’s second factor of whether the
                approach for advertisement relates to the utilitarian advantages, affirmed with the Board’s
                finding that the advertisement done by Reelex was explicitly attempted for tangle-free dispensing
                of cables and wires. All the promotion done by Reelex was done showcasing the utilitarian
                advantage of the design which further proved the functionality characteristic of the design with
                substantially backed evidence.<br><br>
                
                Federal Circuit relied upon the Board’s finding while observing the third factor concerning the
                existence of any alternative design. The Board was of the view that if the functionality was
                proved based on other considerations, this factor need not to be considered. Rejecting Reelex’s
                argument that the Board ‘erred’ in sufficiently considering the evidence, the Circuit noted that
                the Board has “broad discretion” to weigh the evidence present; therefore the Board did not ‘err’.
                Having already proved the functional characteristic, the Court found no need for discussing the
                fourth feature which concerned whether the design resulted from a simple and inexpensive
                method of manufacturing. Therefore, the Federal Circuit affirmed with the findings of the Board
                on the aspects of functionality and refused the registration.</p>

   


		</div>

	</div>
</div>