<div class="container">
    <div class="row justify-content-center box-bg-container">
        <div class="col-md-12 step-block">

		<form method="POST" action="/class_descriptions">

			<div class="form-group row">
				<div class="col-md-12">
					<input type="text" class="form-control search-service" name="desc" required autofocus placeholder="Search your services/goods" value="<%= searchTerm %>">
				</div>
			</div>
		</form>
		<% if( classes.length > 0 ) { %>
		<table class="table tbl-service">
			<tbody>
				<% for (var key in classes) { %>
				<tr>
					<td> 
						<a href="/classes/<%= classes[key].trademark_class_id %>">Class <%= classes[key].trademark_class_id %></a>
					</td>
					
					<td> <b><%= classes[key].description %></b> </td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% } else { %>
			<p class="text-center">Sorry, No records found!</p>
		<% } %>

        </div>
    </div>
</div> 