<div class="container">
    <div class="row justify-content-center box-bg-container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5> Register your Trademark - before it's too late!</h5>
                </div>

                <% for (var key in continents) { if (continents[key].countries.length ) { %>

                <div class="card-body">
                    <h4> <%= continents[key].name %> </h4>
                    <hr>
                    <div class="row">

                        <% for ( var ckey in continents[key].countries ) { if( continents[key].countries[ckey].name ) { %>
                            <% if( continents[key].countries[ckey].avatar && continents[key].countries[ckey].avatar != "Test" && continents[key].countries[ckey].status != "disabled") { %>
                            <div class="col-md-4 mt-3">
                                <a href="/trademark-registration-in-<%= continents[key].countries[ckey].name.replace(/\s/g, '_').toLowerCase() %>" >
                                    
                                        <img src="images/<%= continents[key].countries[ckey].avatar %>">
                                    <%= continents[key].countries[ckey].name %>
                                </a>
                            </div>
                            <% } %>
                        <% } } %>

                    </div>
                </div>
                <% } } %>
                
            </div>
        </div>
    </div>
</div>