<div class="container">
	<div class="row justify-content-center box-bg-container">
		<div class="col-md-12">
					
			<h2>The Fourth Circuit dismisses Nike’s appeal over injunction by District Court, as moot.</h2>
            
            <p class="mt-3">Fleet Feet Inc, through franchises, company-owned retail stores, and online stores, sells running
                and fitness merchandise, and has 182 stores, including franchises, nationwide in the US. Fleet
                Feet is the owner of trademark “Change Everything” and “Running Changes Everything” used
                widely for its sports and apparel related goods and services. Nike, Inc., and Nike Retail Services,
                Inc. (collectively, “Nike”) is in the business of designing, developing, marketing, and selling
                athletic footwear, apparel, equipment, accessories, and services. Nike began using the phrase
                “Sport Changes Everything” on large scale advertising campaigns in 2019. This prompted Fleet
                Feet to file a lawsuit against the use of the phrase by Nike at the United States District Court for
                the Middle District of North Carolina <i>(Fleet Feet, Inc. v. Nike Inc. 419 F. Supp. 3d 919
                (M.D.N.C. 2019)).</i> The District Court was in conformity with Fleet Feet’s contentions regarding
                likelihood of success on the merits of its trademark infringement claims and granted a
                preliminary injunction against Nike. Following the injunction ruling, Nike had to stop the use of
                the phrase “Sport Changes Everything”. Aggrieved by the ruling, Nike appealed against the
                District Court ruling at the US Court of Appeal for the Fourth Circuit <i>(Fleet Feet, Inc. v. Nike,
                Inc. 986 F.3d 458 (4th Cir. 2021))</i> and pleaded for the vacation of the preliminary injunction.
                The US Court of Appeals dismissed the appeal and upheld the injunction granted by the District
                Court.<br><br>
                Being a major name in the sporting industry, Fleet Feet not only sells Nike’s merchandise in its
                stores, but has also gained substantial consumer base across the country and earned more than
                $940,000,000 in revenue. Fleet Feet has been using the phrase “Running Changes Everything”
                since 2009 and “Change Everything” since 2013. Having filed for registration of both the
                phrases with the United States Patent and Trademark Office, the latter has been finally registered
                in 2015 and the former in 2020. As mentioned regarding the Fleet Feet selling of Nike’s
                products, multiple Nike’s employees were aware of the commercial use of the Fleet Feet’s
                trademarked phrase.<br><br>
                Nike launched a major advertising campaign in 2019, which featured at various sporting events,
                with the tagline “Sport Changes Everything”. As per the reports, Nike spent over $16 million on
                the campaign that included the slogans, apparel, events and social media. Nike specifically
                undertook to not use the slogans outside the campaign, which was seven months long and was to
                be, showcased during the February 2020 Super Bowl. Fleet feet contended that the phrases being
                used by Nike were confusingly similar to that of its own trademarked phrases, and proceeded to
                file a suit at the United States District Court for the Middle District of North Carolina, seeking
                preliminary injunction against Nike’s use of the tagline.<br><br>
                The complaint filed by Fleet Feet, alleged that Nike was well aware of Fleet Feet’s trademark
                due to their business relationship. The complaint also stated that the tagline used by Nike was in-
                fact the exact phrase used by Fleet Feet - “Running Changes Everything” which was
                subsequently changed to “Sport Changes Everything” after Fleet Feet’s complaint to Nike.
                Despite the mark being changed from the exact trademarked phrase, Fleet Feet contended that
                the mark was still “confusingly similar” to its mark “Running Changes Everything”.<br><br>
                For seeking preliminary injunction against Nike, Fleet Feet needed to prove that it has suffered
                an irreparable harm and will continue to suffer such harm if an injunctive relief is not provided.
                Moreover, not only were the contentions required to succeed on merits, but it was also required
                to prove that the injunctive relief was in public interest, as laid down in the case of <i>Winter v. Nat.
                Res. Def. Council, Inc., 555 U.S. 7, 20 (2008).</i> While delving into the case, the District Court
                made multiple observations with respect to granting an injunction against Nike. Analyzing the
                commercial strength of both the entities, the District Court noted that the advertising expenditure
                deployed by Fleet Feet as compared to Nike’s was just a “drop in the bucket”. With spending of
                a whooping $16 million dollars, Nike’s impact would definitely be more than that of Fleet
                Feet’s. Undoubtedly, the District Court agreed with the lower commercial strength of Fleet
                Feet’s distinctive “Change Everything” and “Running Change Everything”. Considering Fleet
                Feet’s low commercial strength, the District Court reached a consensus that Nike’s
                advertisement would definitely lead to a ‘swamp’ effect over Fleet Feet’s mark leading
                consumers to believe and link Fleet Feet’s mark with that of Nike’s.<br><br>
                Nike contended that proof of irreparable harm was vital for proving the need for an injunctive
                relief and that Fleet Feet had failed to put forth any evidence displaying loss of revenue suffered
                due to Nike’s campaign. However, the Hon’ble District Court Judge observed that it wasn’t
                necessary for loss or harm to be immediate and could sprout with time. The Judge also noted that
                <i>“Nike had the option to perform a trademark search in advance—or, if it did one, to respond
                differently—to ensure its planned campaign would appropriately respect other companies’
                marks and would not be subject to court action”.</i> Hence, varying with the contentions put forth
                by Nike, the judge sided with Fleet Feet’s contentions in the matter and granted an order of
                injunction against Nike and in favor of Fleet Feet.<br><br>
                As a result of the imposed injunction, Nike’s use of the phrase ‘Sport Changes Everything' along
                with any other designation confusingly similar to the phrases <b>‘RUNNING CHANGES
                EVERYTHING’ and ‘CHANGE EVERYTHING’</b> was prohibited. Nike, abiding by the order,
                discontinued the campaign two months before its designated end date.<br><br>
                Aggrieved by the order, Nike appealed against the decision before the US Court of Appeals for
                the Fourth Circuit. Nike argued that the injunction restrained the company’s right to free speech
                and that the District Court made significant legal error while arriving at the decision. Nike
                contended that the phrases used for the campaign were to be construed descriptive in nature and
                that Nike did not intend to use the same in the form of trademarks. It further contended its
                actions as fair use, negating any bad faith. Despite multiple arguments put forth by Nike, the
                Fourth Circuit pronounced the decision in Fleet Feet’s favor.<br><br>
                The Fourth Circuit negated Nike’s arguments stating that its quest to overturn the decision was
                “moot”. Invoking the legal doctrine of moot, the court pointed out the necessary interests that the
                parties held in the phrases. It noted that the Super Bowl Event had come to an end and that Nike
                had not used the confusingly similar phrases in the furtherance of the campaign during the said
                event. Moreover, Nike itself stated that the campaign was limited to the 2020 Super Bowl.
                Keeping these observations and contentions in mind, the court reached a conclusion that there
                was a lack of necessary “legally cognizable interest in the validity of the preliminary injunction”.
                Therefore, the court held that it was not in the interest of the court to consider the present appeal.
                Hence, the appeal was dismissed as moot.</p>

   


		</div>

	</div>
</div>