<div class="container">
    <div class="row justify-content-center box-bg-container">

        <div class="col-md-12">
            <h2> Generate PDF</h2>

            
        </div>

        <div class="col-md-9">
            <form id="gen-pdf-form" class="custom-frm" action="" method="POST">
				
				<div class="form-group">
					<input type="text" class="form-control" id="trademark_number" value="" placeholder="Trademark Number" required name="trademark_number">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="" placeholder="Trademark Name" id="trademark_name" name="trademark_name" required>
				</div>
				<div class="form-group">
					<input type="text"  class="form-control" value="" id="opposition_number" placeholder="Opposition Number" name="opposition_number" required>
                </div>
                <div class="form-group">
					<input type="text"  class="form-control" value="" id="opponent" placeholder="Opponent" name="opponent" required>
				</div>
				<p class="text-center">
					<button id="gen-pdf-submit" type="submit" class="btn btn-primary btn-rounded-primary" style="padding-left:40px;padding-right:40px;">Submit</button>
				</p>
			
			</form>
        </div>

        <div class="col-md-3">
            <% if (pdfs.length) { %>
                <ul class="list-group">
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio<span class="badge badge-primary badge-pill">14</span></li> -->
                    <% for ( var key in pdfs ) { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><a target="_blank" href="/pdf/<%= pdfs[key].url %>"><%= pdfs[key].type %> - <%= pdfs[key].name %></a></li>
                    <% } %>
                </ul>
            <% } else { %>
                <p>No Record Found</p>
            <% } %>
        </div>

  
	</div>
</div>