<div class="container">
    <div class="row justify-content-center box-bg-container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    
                    <h2 class="text-center"> Trademark Monitoring Service</h2>
                    <br>
                    <table summary="Our Trademark Monitoring pricing includes:" class="tbl-service table table-responsive table-bordered" >
                        <tbody>
                            <!-- <tr>
                                <th scope="col" colspan="2" class="satisfaction-guarantee">You get lifetime customer support and our <a href="/assets/modals/modal-satisfaction-guaranteed.html" class="fancybox fancybox.iframe">100% satisfaction guarantee.</a></th>
                            </tr> -->
                            <tr>
                                <td><h2>Our Trademark Monitoring pricing includes:<h2></td>
                                <td class="text-center">
                                    <h3>Comprehensive</h3>
                                    <p>Detailed monthly reports</p>
                                    <p><sup>$</sup>150<sup>*</sup></p>
                                    <p>per year</p>
                                    <a class="btn btn-primary" href="/trademark-monitoring-in-united_states-proceed">Get Started</a>
                                    <!-- <a href="/monitoring" class="btn btn-primary">Get Started</a> -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Active monitoring of the United States Patent and Trademark Office (USPTO) database.</strong>
                                </td>
                                <td class="text-center"><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Personalized monitoring strategy designed to watch for potentially conflicting trademarks across multiple classes of goods and services.</strong>
                                </td>
                                <td class="text-center"><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Monitoring for deceptively similar trademarks, such as those that sound alike or differ in spelling by 1 or 2 letters.</strong>
                                </td>
                                <td class="text-center"><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Detailed reports delivered by email each month (12 reports).</strong>
                                </td>
                                <td class="text-center"><i class="fa fa-check"></i></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-md-12 service-columns">
            
                        <h2>How It Works</h2>
                        <h4>Our 3-step process is fast and easy</h4>
                        
                        <div class="row">
                            <div class="col-md-4 ">
                                <p><i class="fa fa-tasks"></i></p>
                                <p><strong>1. Complete our trademark monitoring questionnaire</strong></p>
                            </div>

                            <div class="col-md-4">
                                <p><i class="fa fa-search-location"></i></p>
                                <p><strong>2. We set up a customized trademark monitoring query</strong></p>
                            </div>

                            <div class="col-md-4">
                                <p><i class="fa fa-envelope-open-text"></i></p>
                                <p><strong>3. We send you a detailed monitoring report every month</strong></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
        
       

        </div>
    </div>
</div>