<div class="container">
	<div class="row justify-content-center box-bg-container">
		<div class="col-md-12" style="padding:30px 0;text-align: justify;">
		
			<h1 style="margin: 0px 0px 10px;">Opposed by a third party trademark? Not so fast ...</h1>
            
      <p>Many applicants of new trademarks throw the towel to early when they receive a third party opposition that is based on an older trademark registration. What many however do not know that there are good reasons to scrutinize the actual claims of the opponent and question their validity in the opposition proceedings.</p>

      <h5>The Opponent must prove use – but only if you ask for it!</h5>

      <p>If your application is opposed by a trademark registered for more than 5 years, the applicant has the right to demand proof of what is referred to as “Use in Commerce” by the opponent. But even if you are relatively sure that the opponent uses the mark, it does not automatically mean that the mark is used in every aspect that it is applied for. Especially large corporations usually submit an extensive list of goods and services that they ask protection for, as they want to keep the scope of the trademark protection as wide as possible – and they want to keep their options open to extend the brand. But such protection is subject to an actual proof whether the trademark is actually used for the specific item or not. If it was not, then they are not able to claim and enforce the protection.</p>
      
      <p>The guidelines of the European Union Intellectual Property Office (EUIPO) provide that the claims of an opponent are taken at face value – if the applicant that the opposition is filed against does not speak up. According to Rule 22(3) CTMIR, the applicant can demand proof, and as a result the EUIPO will require proof from the Opponent for every single item in the list of goods and services that they based their opposition on.</p>
      
      <ul>
        <li>Only those items that were actually proven by the opponent will be considered when evaluating the opposition, and if no proof is provided, your trademark will “survive” those specific aspects of the opposition – even though the opponent has a trademark registration covering that particular good or service – just because they were not able to prove it.</li>
        <li>For the evaluation of proof, there is also the significant burden of “Use in Commerce”. Let’s say you applied for a clothing brand in class 25, and the opponent sells computers and included the class 25 because they thought they may want to expand into clothing as well. But as proof they only provide a photo of some t-shirt that their staff wore during a trade show. This does not meet the standard of “Use in Commerce” (as they did not really intend to enter the business of selling t-shirts under that brand), and the trademark office will disregard it.</li>
      </ul>
      
      <h5 style="margin: 30px 0px 10px;">SO HOW CAN YOU INTRODUCE THIS ARGUMENT?</h5>

      <p>First of all, you need to evaluate if the trademark the opponent relies on has been REGISTERED for more than 5 years. The relevant time frame is calculated from the day the opposing mark is registered to the day the opposition against your mark was filed. And it is a strict count – so if only 4 years and 336 days, then you are out of luck. Check the registration date of the opposing mark.</p>

      <p>For responding to oppositions against your mark, you only need to be represented by an attorney if you (the applicant) is domiciled outside the countries of the European Union (sorry, Brits, the United Kingdom does not count anymore). The request for proof of use must be received within the time allocated to you to RESPOND to the opposition (the EUIPO will notify you), and it is always a good idea to ask for an extension (usually, any request for extension is granted if it is the first request, and they EUIPO usually gives you an additional 2 months). The request must be made in writing (in the language of the proceedings), and will be acknowledged by the EUIPO, and the result is usually that the EUIPO will send a letter to the opponent demanding proof of use, for which they usually grant 2 or 3 months time (during which the opposition is on hold). Make sure to go through the opposition in detail, sometimes the opponent will rely on more than one trademark, if only some but not all trademarks are beyond their 5 year maturity, then only those that are will be included in the request for proof.</p>

      <h5 style="margin: 30px 0px 10px;">WHAT HAPPENS IF THE OPPONENT DOES NOT PROVIDE ANY PROOF?</h5>

      <p>If no proof is furnished by the opponent, then the rights they claim from the respective registrations are disregarded in the evaluation of the merits of the opposition. Same goes if the proof is not provided in the language of the proceedings – if any documents are included as evidence, then the evidence also has to be translated into the language of the proceedings (it is hard to believe how many just forget about that, and as a result they lose their opposition claim).</p>

      <p>Also it happens occasionally that opponents just don’t provide proof for because of sheer economics – especially if they use a hot shot law firm that bills them hefty hourly rates. Filing an opposition is a matter of less than an hour, but providing solid evidence for actual use takes often dozens of hours, and your trademark may just not have that big of an overlap.</p>
    
      <p>A good idea is however to always do some preliminary research on the Internet if you can see whether the opponent uses the mark or not, as it is unethical to create a large workload for the trademark office to evaluate extensive evidence when it is obvious. On the other hand, some companies just respond to cocky thinking the world must know that they are actively using the brand (while the trademark office cannot and will not rely on some general reputation of that is not properly proven).</p>

    </div>


	</div>
</div>