<div class="container">
    <div class="row justify-content-center box-bg-container">
        <div class="col-md-12 step-block">
               

                    <p> This contract is between the “User” requesting the services through the web site and Trademarkers.com, hereinafter the “Company”, acting directly or through its Attorneys. The agreement on Terms and Conditions for Use and the Privacy Policies are an integral part of this Contract.</p>

                    <ol class="privacy-list" type="A">
                        <li> DESCRIPTION OF SERVICES
                            <p> Our full-service solutions cover the entire process of acquiring and protecting a trademark which includes the following:</p>
                            <ul class="theme-default">
                                <li> 
                                    <p> Trademark Study - This involves extensive research on similar trademarks, if there is any. If there is a pre-existing claim to your trademark, it is best to know before investing time and resources into proceeding with the application. A trademark study provides a snapshot of potential brands in your target market.</p>
                                </li>
                                <li> 
                                    <p> Trademark Registration - Trademarks are not protected by the moment it is created hence, the need to register. Through this, potential copycats are deterred from infringing on your brand and also, if a confusingly similar mark is filed, it is much easier to pursue legal action against infringements.</p>
                                </li>
                                <li> 
                                    <p> Trademark Monitoring - This is vital to ensuring that other parties do not lay claim to your trademark because even after registration, your trademark is only secure as long as your ownership of it is enforced e.g., filing actions for trademark infringements and the like.
                                    </p>
                                </li>
                            </ul>
                        </li>

                        <li> SPECIFIC SERVICE CONDITIONS
                            <ol>
                                <li> Trademark Study
                                    <p> The Comprehensive Trademark Study is executed by experienced attorneys or researchers on Trademark Registration and their recommendation is judgment based on their investigation of similar, officially-published trademarks and on their personal experience.</p>
                                    <p> For this service, we are offering the following:</p>

                                    <ul class="theme-default">
                                        <li> <p> Full analysis of existing trademarks, including similarities in appearance, sound, connotation and commercial impression.</p></li>

                                        <li> <p> Consultation on what to do if an existing similarity is found.</p></li>

                                        <li> <p> Enquiry with local trademark offices, as necessary.</p></li>

                                        <li> <p> Detailed reporting on the availability of relevant marks and recommendations for your application.</p></li>

                                        <li> <p> Once the User has filled out the request form and submitted all the information relevant to the study on the website, and paid the fee for the service, the Attorney shall perform the study according to the request made by the User.</p></li>

                                        <li> <p> The study is done taking as base the trademark usage described by the client. With this description, the Attorney determines the class or classes in which the search must be done. And this is executed considering the classes indicated or agreed by the client.</p></li>

                                        <li> <p> However, due to the subjective nature of trademark searches and the possible inaccuracies of the Trademark Office Registers, the Company cannot guarantee that the study will be free of errors and/or totally complete. Also, the result of the Study does not guarantee the registration of the trademark.</p></li>

                                        <li> <p> The subsequent use of the information provided in respect of any request for trademark study whether recommended or not made by the Company, is the user’s entire responsibility.</p></li>
                                    </ul>
                                </li> 

                                <li> Trademark Registration
                                    <p> The user assumes the obligation of sending to the Attorney a “Power of Attorney”, within the term of 20 days from the “Service Request” submittal, whether from the Owner and/or her/his representative. Once the user has filled out the Registration Request form on the website, and both Power of Attorney and payment have been received, the Company must render the following services:</p>

                                    <ul class="theme-default">
                                        <li> <p> Entry into closed and restricted countries, where trademark registration is especially difficult.</p></li>
                                        <li> <p> Consultation throughout the registration process.</p></li>
                                        <li> <p> Real-time updates regarding the status of your application.</p></li>
                                    </ul>

                                    <p> 2.1 The Attorney must (i) prepare and submit the Trademark Application for Registration to the corresponding Trademark Office, according to the instruction of the user received through the web site form and (ii) pay the initial official fees on behalf of the owner in order for the Trademark Registration process to continue its due course.</p>

                                    <p> 2.2 The user will be informed when requested or when circumstances so require, regarding the progress of the registration process. Additionally, the user will be granted access to the status of the trademark process through the website.</p>

                                    <p> 2.3 The Company must notify the user when his/her/its trademark application has been objected, opposed or accepted. Once the trademark application is accepted, the Trademark Registration Certificate can be requested by the user, within the terms established by the Company. This service includes paying final registration fees and the Company shall perform all needed tasks in order to obtain and forward the certificate to the owner.</p>

                                    <p style="text-indent: 50px;"> The user must communicate to the Company whether he/she/it would like the Trademark Registration Certificate to be delivered by courier or regular post, as well as the address where it should be sent. In case of courier delivery an extra fee applies. The Company can only guarantee the certificate delivery and no delays when sent via courier. If the user does not request this service within 10 (ten) business days after notification of issuance of the Registration Certificate or does not comply with the aforementioned requirements, the Registration Certificate will not be delivered and will remain pending.</p>

                                    <p> 2.4 If the trademark application has been objected by the Trademark Office, or opposed by a previous right holder, the Company shall notify the user this situation, together with a recommendation on the actions to follow and their cost. In this communication, the Company shall require a response from the user, within an indicated period of time, on the actions he/she/it has decided to pursue.</p>

                                    <p> 2.5 If the user fails to respond in the established period of time, the Company will not be liable for any ulterior refusal or obstacles the registration process might encounter due to the lack of response. Hence, refunds on the amount paid for the service will not be made.</p>

                                    <p style="text-indent: 50px;"> Therefore, if the user wishes to pursue with the trademark registration process once the terms have expired, he/she/it must submit a new request for service on the web site.</p>

                                    <p> 2.6 The owner will have the full right to use, earn incomes from and transfer the trademark once it has been duly registered. As soon as the registration number is available the Company will inform the owner.</p>

                                    <p> 2.7 The contract will terminate when the Company informs the user the final resolution of the Trademark Office which grants the trademark registration or rejects it, based on an objection or opposition.</p>

                                    <p> 2.8 When a trademark application is rejected based on an objection or opposition, the user has the right to defense. For this will be necessary to request the corresponding service within the timeframe indicated by the Company when notifying the rejection.</p>

                                    <p style="text-indent: 50px;"> In this case, if the defense action is successful, the contract will be extended until a new resolution from the Trademark Office accepting or rejecting the trademark application.</p>

                                    <p>2.9 Timeframe of the trademark registration process is only an estimate and it may vary considerably if any objections and/or oppositions are presented, or other events occur during the trademark registration process.</p>
                                </li>

                                <li> Trademark Monitoring
                                    <p> To enforce ownership and help secure your hold on your mark, our Legal Experts and Researchers does regular monitoring to protect your mark which includes the following service:</p>

                                    <ul class="theme-default">
                                        <li> <p> Immediate notification if an application for a similar mark, identical or have the same meaning to yours is published.</p></li>
                                        <li> <p> Intervention and negotiations by our Attorneys on your behalf with local trademark offices.</p></li>
                                        <li> <p> Monthly reports updating you on the status of your trademark.</p></li>
                                    </ul>

                                    <p> 3.1 In order to request the service, the user must contact the Company through the web site, or directly via email with the Executive in charge of his/her/its trademark(s).</p>

                                    <p> 3.2 Once the user has approved the corresponding quotation for the service, and as soon as the payment is received by the Company, it shall immediately instruct the corresponding Attorney so he/she proceeds with the requested service.</p>

                                    <p> 3.3 Prompt notification of any adverse interest will be communicated to the user via email or telephone call whenever urgent and immediate means is necessary which will be made by the Attorney’s themselves or any Representative of the Company.</p>

                                    <p> 3.4 Any necessary interventions and negotiations with the Trademark Office or with other parties will be made by the Attorney’s as the duly authorized representative of the user through a “Power of Attorney”. Any necessary actions which will be taken in order to secure the trademark shall be made by the Attorney in which the user will be informed before taking action.</p>

                                    <p> 3.5 Monthly reports on the status of the trademarks will be communicated to the user through its account on the web site or directly via email or telephone call.</p>

                                    <p> 3.6 The contract terminates when the Company informs the user the completion of the service requested, when successful, or the final resolution that denies, rejects or cancels the subject matter.</p>
                               </li>
                            </ol>

                        </li>

                        <li> OTHERS
                            <ol>
                                <li> Severability
                                    <p> In the event that any of the provisions of this Agreement are held to be invalid or unenforceable in whole or in part, all other provisions will nevertheless continue to be valid and enforceable with the invalid or unenforceable parts severed from the remainder of this Agreement.</p>
                                </li>

                                <li> Waiver
                                    <p> The waiver by either Party of a breach, default or omission of any of the provisions of this Agreement by the other Party will not be construed as a waiver of any subsequent breach of the same or other provisions.</p>
                                </li>
                            </ol>
                        </li>

                    </ol>
                    
        </div>
    </div>
</div>