<div class="container service-block">
    <div class="row justify-content-center box-bg-container">
        <div class="col-md-12">
            <!-- <div class="card">
                <div class="card-body"> -->

                    

                    <p> TradeMarkers provides trademark and intellectual property protection for brands used in the United Kingdom and internationally. We work with a wide range of clients, from small businesses establishing a corporate identity to large companies with a portfolio of brands.</p>
                    <hr>
                    <!-- <h4>Our full-service solutions cover the entire process of acquiring and protecting a Trademark. </h4> -->

                    <div class="row trademarks-block-services">
                        
                        <div class="col-md-12">
                            <h2>Our full-service solutions cover the entire process of acquiring and protecting a Trademark</h2>
                        </div>

                        <div class="col-md-4">
                            <!-- <h4>New Applications</h4> -->
                            <ul class="list-group list-group-flush scroll-container-a">
                                <li class="list-group-item active-bg"><h4>Trademark New Applications</h4></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-study" >Trademark Study</a></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-register">Trademark Registration</a></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-action">Office Action Response</a></li>
                                <li class="list-group-item list-group-item-action"><a href="/quote/appeal-a-final-refusal">Appeal a Final Refusal</a></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-statement-use">Trademark Statement of Use</a></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-revive">Revive an Abandoned Application</a></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-register-international">International Trademark Application</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <!-- <h4>Maintaining a Registered Mark</h4> -->
                            <ul class="list-group list-group-flush scroll-container-a">
                                <li class="list-group-item active-bg"><h4>Maintaining a Registered Mark</h4></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-renewal">Trademark Renewal</a></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-update">Change or Update Trademark Owner</a></li>
                                <li class="list-group-item list-group-item-action"><a href="#tm-monitoring">Trademark Monitoring</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <!-- <h4>Trademark Disputes</h4>   -->
                            <ul class="list-group list-group-flush scroll-container-a">
                                <li class="list-group-item active-bg"><h4>Trademark Disputes</h4></li>
                                <!-- <li class="list-group-item list-group-item-action"><a href="#tm-protest">Letter of Protest</a></li> -->
                                <li class="list-group-item list-group-item-action">
                                    <span data-toggle="collapse" data-target="#enforceCollapse" aria-expanded="false" aria-controls="enforceCollapse">Enforce Your Trademark <i class="fa fa-plus-circle"></i></span>
                                    
                                    <ul id="enforceCollapse" class="collapse list-group" style="margin-left:40px;">
                                        <li class=""><a href="#tm-protest">Letter of Protest</a></li>
                                        <li class=""><a href="#tm-opposition">Trademark Opposition</a></li>
                                        <li class=""><a href="/quote/negotiate-a-settlement">Negotiate a Settlement</a></li>
                                        <li class=""><a href="/quote/cease-and-desist">Cease and Desist</a></li>
                                    </ul>
                                </li>
                                <li class="list-group-item list-group-item-action"><a href="/quote/draft-a-settlement-agreement">Draft a Settlement Agreement</a></li>
                            </ul>
                        </div>

                        

                    </div>
                    
                    <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/#contact-form">Speak with a Trademark Attorney</a></p>

                    <hr>
                    
                    <!-- <ul>
                        <li> <a href="/countries">Trademark Study</a></li>
                        <li> <a href="/countries">Trademark Registration</a></li>
                        <li> <a href="/monitoring-service">Trademark Monitoring</a></li>
                        <li> <a href="/office-service">Office Action Response</a></li>
                    </ul> -->
                    

                    <!-- <p> If you have any questions about how we can assist you, please click here. <a href="/contact">Contact Us</a></p> -->
                    <div id="tm-study" class="">
                        <h3>Trademark Study</h3>
                        
                        <p> Registering a trademark is not always a simple matter of submitting an application. Many jurisdictions do not make information readily available to the public and some do not provide reliable data online. Researching similarities to your trademark can be a complex task.</p>

                        <p> There are several reasons why you might want to begin the registration process with a study:</p>

                        <ul class="rev-arrow-block">
                            <li> If there is a pre-existing claim to your trademark, it is best to know this before you have invested time and resources into an application</li>
                            <li> Trademark similarities can be ambiguous and are best evaluated by a legal professional</li>
                            <li> It is possible to accidentally infringe on someone else’s trademark if you are not aware of its existence</li>
                            <li> A trademark study provides a snapshot of potential brands in your target market</li>
                        </ul>

                        <p> With representation in almost every major jurisdiction, TradeMarkers has up-to-date information on trademark application activities. Hence, we are able to offer the following services:</p>

                        <ul class="rev-arrow-block">
                            <li> Full analysis of existing trademarks, including similarities in appearance, sound, connotation and commercial impression</li>
                            <li> Consultation on what to do if an existing similarity is found</li>
                            <li> Enquiry with local trademark offices, as necessary</li>
                            <li> Detailed reporting on the availability of relevant marks and recommendations for your application</li>
                        </ul>

                        <!-- <p> To use our services and place an order, start by selecting a country or area here. <a href="/countries">List of Countries</a></p> -->
                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/countries">Trademark Study</a></p>

                    </div>
                    <hr>

                    <div id="tm-register" class="">
                        <h3>Trademark Registration</h3>

                        <p> The ownership of a trademark is not automatically granted merely by using it. Generally speaking, only by going through the legal process of registration can you ensure rights to your trademark.</p>

                        <p> With a legally registered trademark, you gain several benefits:</p>

                        <ul class="rev-arrow-block">
                            <li> Potential copycats are deterred from infringing on your brand</li>
                            <li> The ability of other brands to claim that you are infringing on their trademark is severely diminished</li>
                            <li> If a confusingly similar mark is filed, it is much easier to pursue legal action against infringements</li>
                            <li> A registered trademark allows your brand to gain wider recognition</li>
                        </ul>

                        <p> TradeMarkers navigates through the registration process so that you can get the trademarks you want in the countries where you do business. We provide our clients with the following:</p>

                        <ul class="rev-arrow-block">
                            <li> Filing services in over 150 countries and treaty regions</li>
                            <li> Consultation throughout the registration process</li>
                            <li> Entry into closed and restricted countries, where trademark registration is especially difficult</li>
                            <li> Real-time updates regarding the status of your application</li>
                        </ul>

                        <!-- <p> To use our services and place an order, start by selecting a country or area here. <a href="/countries">List of Countries</a></p> -->
                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/countries">Trademark Registration</a></p>

                    </div>
                    <hr>

                    <div id="tm-action">
                        <h3>Office Action Response</h3>

                        <p> The Administrative Office Action Response service is drafted by experienced trademark attorneys who will give 
                        your application the best possible chance of registering. This is the response to office actions that have disclaimer issues, 
                        specimen problems, inaccurate descriptions of goods & services, inaccurate descriptions of logos, 
                        questions about foreign language translations, and other procedural refusals. </p>

                        <p> If your trademark refusal is caused by reasons apart from the above, ex. likelihood of confusion objections or any 
                        descriptive or genericness refusals, please refer to our Complex Office Action Response Service. 
                        </p>

                        <p>The response will be submitted to the respective trademark office within 3 to 4 business days.</p>

                        <p>You may also contact us if you are unsure about which service is appropriate for your refusal.</p>

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/quote/office-action-response">Request A Quote</a></p>
                    </div>
                    <hr>

                    <!-- <div id="tm-appeal">
                        <h3>Appeal a Final Refusal</h3>

                        <p> Even after registration, your trademark is only secure as long as your ownership of it is enforced. Filing offices see thousands of applications every day, and many of them do not check for similarities prior to processing applications. Regular monitoring is vital to ensuring that other parties do not lay claim to your trademark.</p>

                        <p> Some things to consider regarding the importance of monitoring your trademark:</p>

                        <ul>
                            <li> Infringements must be acted upon immediately – in some cases you may have only a few months to act</li>
                            <li> Trademark applications differ vastly from country to country – often, only a local expert truly knows what is being filed</li>
                            <li> If your trademark is compromised, you may encounter trouble selling your good or service, even if it is an established brand</li>
                        </ul>

                        <p> Our monitoring services include:</p>

                        <ul>
                            <li> Monitoring by legal experts, journalists, and researchers</li>
                            <li> Immediate notification if an application for a mark similar to your own is published</li>
                            <li> Intervention and negotiations on your behalf with local trademark offices</li>
                            <li> Monthly reports updating you on the status of your trademark</li>
                        </ul>

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/monitoring-service">Trademark Monitoring</a></p>
                    </div>
                    <hr> -->

                    <div id="tm-statement-use">
                        <h3>Trademark Statement of Use</h3>

                        <p>Did you know that some jurisdictions require the filing of a Statement of Use or a Declaration of Use? You need to show to the relevant Intellectual Property Office that you are using your trademark before it will be accepted for registration.</p>

                        <ul class="rev-arrow-block">
                            <li>Easy process that takes less than 5 minutes</li>
                            <li>Proper formatting of Specimen(s)</li>
                            <li>Review of your information to avoid common rejections</li>
                            <li>100% Satisfaction Guarantee</li>
                        </ul>
                        
                        <p>Trust Us for your Statement of Use. We file thousands every year. Clear Pricing. No Hidden Fees.</p>

                        

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" id="souLink" href="/quote/trademark-statement-of-use">Request A Quote / Service Form</a></p>
                    </div>
                    <hr>

                    <div id="tm-revive">
                        <h3>Revive an Abandoned Application</h3>

                        <p>Dealing with abandoned trademark application? This happens when you unintentionally fail to respond to an office action or to a notice of allowance within the allowed time period!
                        It’s not too late. Our teams of legal experts are here! We can revive your Trademark application before it's lost forever!</p>

                        <p>Now let’s file a petition to revive to get your trademark back on the right track.</p>
                        <ul class="rev-arrow-block">
                            <li>Thousands of Petitions to Revive Have Been Filed and Granted Registration</li>
                            <li>Lifetime Customer Support</li>
                            <li>100% Satisfaction Guarantee</li>
                        </ul>
                        
                        <p>Please feel free to reach out and request to speak with one of experience trademark attorneys to explore options left with your case. There are of course many complexities and nuances involved in adequate filing a petition to revive an abandoned trademark and we would love to help.</p>

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/quote/revive-an-abandoned-application">Request A Quote</a></p>
                    </div>
                    <hr>
                    
                    <div id="tm-register-international">
                        <h3>International Trademark Application</h3>

                        <p>Are you aiming for worldwide business recognition? Are you expanding your market reach in other countries? Worry not! Let’s file your trademark internationally through the Madrid System.</p>

                        <p>Our International Brand Protection Services are managed by experienced trademark consultants and attorneys with almost 15 years of experience to ensure a personalized approach and timely results.</p>

                        <ul class="rev-arrow-block">
                            <li>Free Consultation</li>
                            <li>No Hidden Fees</li>
                            <li>Experienced Legal Practitioners</li>
                            <li>Worldwide Trademark Registration Expertise</li>
                        </ul>
                        
                        <p>With Madrid system – we can offer you a convenient and cost-effective solution for registering and managing trademarks worldwide. File a single application and pay one set of fees to apply for protection in 122 countries around the world.</p>

                        <p>An International trade mark application is usually ‘registered’ around three months after filing, following a formalities examination by the World Intellectual Property Office (WIPO).  However, the Intellectual Property Offices of each country covered by the registration have up to 18 months to raise objections to the registration.  Should there be objections, our expert trademark Attorneys will provide timely report as well as options on how to go about your registration.</p>
                        <p>Let’s convert your busyness into a real business. Let our professionals handle the paperwork so you can get back and drive your business into success.</p>

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/quote/international-trademark-application">Request A Quote</a></p>
                    </div>
                    <hr>

                    <div id="tm-renewal">
                        <h3>Trademark Renewal</h3>

                        <p>Get the most out of your trademarks and e prepared for the changing requirements around the world
                        and benefits from the highly competitive rates our renewal services can offer you. We are responsible
                        for over 10,000 trademarks in over 200 jurisdictions; our trademark renewal experts are fully equipped
                        with proven technical experience and tenacity to successfully maintain your entire trademark portfolio.</p>

                        <p>Focus your efforts on your business key activities and rest assured that your trademarks are in good
                        hands. Free yourself from the administrative task of handling your trademark renewals and let our
                        trademark experts handle it for you.</p>

                        <p><strong>Minimize your costs while enjoying world class quality services. Let's talk!</strong></p>

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/quote/trademark-renewal">Request A Quote</a></p>
                    </div>
                    <hr>
                    
                    <div id="tm-update">
                        <h3>Change or Update Trademark Owner</h3>

                        <p>Do you need to change or update your trademark owner’s information, such as address details or
                        change of name or you may sell or transfer your trademark to another owner? These changes must be
                        done accordingly in the Trademark Register.</p>

                        <p>Bear in mind that Trademark assignments are complicated and requires experience! Work with
                        Trademarkers Experienced Trademark Attorney to make sure your trademark assignment is accurate
                        and valid. This services package includes:</p>

                        <ul class="rev-arrow-block">
                            <li>Preparation and Filing of the Assignment documents</li>
                            <li>Monitoring the Assignment to Ensure it is accepted</li>
                            <li>Status Reports on the Progress of Your Assignment Request</li>
                            <li>Providing Your Reel Record of Your Assignment upon Receipt Thereof.</li>
                            <li>Calendaring and Notice of All Renewal Deadlines for the Assigned Trademark.</li>
                        </ul>

                        <p><strong>If you need more detailed information on your particular case, please let us know, and we are happy
                        to answer it at NO CHARGE.</strong></p>

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/quote/change-or-update-trademark-owner">Request A Quote</a></p>
                    </div>
                    <hr>

                    <div id="tm-monitoring">
                        <h3>Trademark Monitoring</h3>

                        <p> Even after registration, your trademark is only secure as long as your ownership of it is enforced. Filing offices see thousands of applications every day, and many of them do not check for similarities prior to processing applications. Regular monitoring is vital to ensuring that other parties do not lay claim to your trademark.</p>

                        <p> Some things to consider regarding the importance of monitoring your trademark:</p>

                        <ul class="rev-arrow-block">
                            <li> Infringements must be acted upon immediately – in some cases you may have only a few months to act</li>
                            <li> Trademark applications differ vastly from country to country – often, only a local expert truly knows what is being filed</li>
                            <li> If your trademark is compromised, you may encounter trouble selling your good or service, even if it is an established brand</li>
                        </ul>

                        <p> Our monitoring services include:</p>

                        <ul class="rev-arrow-block">
                            <li> Monitoring by legal experts, journalists, and researchers</li>
                            <li> Immediate notification if an application for a mark similar to your own is published</li>
                            <li> Intervention and negotiations on your behalf with local trademark offices</li>
                            <li> Monthly reports updating you on the status of your trademark</li>
                        </ul>

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/monitoring-service">Trademark Monitoring</a></p>
                    </div>
                    <hr>

                    <div id="tm-protest">
                        <h3>Letter of Protest Service</h3>

                        <p>Allow us to stop the registration of an infringing trademark application. Our Letters of Protest is a preemptive action taken while an application is pending registration.  This letter informs the trademark commissioner of your position that the newly filed trademark or pending trademark application may in conflict with your registered or pending trademark and requests the trademark office to block the application based on likelihood of confusion.</p>

                        <p>Act now! Because once the application granted the registration, filing a cancellation of registered trademark is not only expensive but is also a lengthy and complex procedure too!</p>

                        <p><strong>Now is the time to stop the registration of an infringing trademark before costly litigation is needed to
                        block the same.</strong></p>

                        <ul class="rev-arrow-block">
                            <li>Letter of Protest is filed by a trademark attorney</li>
                            <li>Similar Trademark Blocked from Registration</li>
                            <li>Avoids Thousands in Litigation</li>
                            <li>Status Reports on the Letter of Protest</li>
                            <li>Lifetime Customer Support</li>
                            <li>Our 100% Satisfaction Guarantee</li>
                        </ul>
                        
                        <p><strong>Don’t delay! Don’t wait!  Safeguard your trademark now!</strong></p>

						<p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/quote/letter-of-protest-for-domain-owners">Request A Quote For Domain Owners</a></p>
                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/quote/letter-of-protest-for-prior-registered-tm-holders">Request A Quote For TM Holders</a></p>
                    </div>
                    <hr>

                    <div id="tm-opposition">
                        <h3>Trademark Opposition</h3>

                        <p>Enforce (or Defend) your Trademark against infringers! Opposition Proceedings will Block the Registration of an Infringing Trademark during its Opposition Period.</p>

                        <p>Our package makes it easy to enforce and defend your rights before the infringing trademark application granted its registration.</p>

                        <ul class="rev-arrow-block">
                            <li>Quick & Easy Process</li>
                            <li>Attorney-Quality Documents</li>
                            <li>Guidance Through the Process</li>
                            <li>100% Satisfaction Guarantee</li>
                        </ul>

                        <p style="text-align:center"><a class="btn btn-outline-primary btn-lg" href="/quote/trademark-opposition">Request A Quote</a></p>
                    </div>
                    <hr>

        </div>
    </div>
</div>