<div class="container">
	<div class="row justify-content-center box-bg-container">
		<div class="col-md-12">
					
			<h2>Uniform Domain-Name Dispute-Resolution Policy</h2>

            <h3>What is it?</h3>
            
            <p>The Uniform Domain-Name Dispute-Resolution Policy ("UDRP") is a policy
                that all registrars of .com domains are obliged to follow, and it is
                therefore part of the terms and conditions to which every individual or
                corporation agrees to when registering their .com domain name. Under the
                UDRP, most types of trademark-based domain-name disputes must be resolved
                by agreement, court action, or arbitration before a registrar will cancel,
                freeze or transfer a domain name. It mostly applies to disputes alleged
                from abusive registrations of domain names (i.e. cybersquatting), and the
                complaint must be served both to the domain owner and the registrar (the
                latter then usually locks the domain to prevent any disposition until the
                proceedings are concluded).</p>

            <h3>Trademarks and Domain Names</h3>

            <p>The most common complaints involve trademark rights - and generally it is
                the trademark holder that files the complaint against a domain owner. The
                trademark does not necessarily have to be registered in the United States,
                however a lack of a U.S. trademark registration usually raises some
                questions.</p>

            <p>But as many legal issues the answers are often not crystal clear. First,
                there are often competing trademarks - it is mostly a vast overstatement
                if a company claims they have "The Trademark" of a certain brand.
                Trademarks are registered in classes, and many words exist in several
                classes parallel - for example the famous car brand "Mercedes" is also a
                cigarette brand in Europe, and trademarks in both categories exist
                parallel. Most trademark offices grant trademarks in "classes" that the
                applicant for the trademark needs to adhere to (and actually properly use
                in commerce).</p>


            <h3>Misspellings</h3>

            <p>Another category that experienced a significant raise in UDRP cases are
                misspellings (type domains) which leads traffic away from sites that a
                user intends to visit (i.e. if they spell "gmial" instead of "gmail").</p>

            <h3>Consequences of a UDRP action for Owners of Domain Names</h3>

            <p>Once a ruling in the UDRP process becomes final and results in the
                transfer order for a domain, the original owner (the "respondent") will
                not receive any compensation. It does not matter whether he or she paid
                significant money for it or built a genuine audience.</p>

            <p>Given the low cost, registering a trademark should be a suitable
                "insurance policy" - but it has some pitfalls as well: Because if the
                trademark is registered in "bad faith" or without any real intend to use
                it in commerce, it cannot be used.</p>

		</div>

	</div>
</div>