<div class="container">
    <div class="row justify-content-center box-bg-container">

    	<div class="col-md-12" style="text-align: center; padding: 10px 0px 40px 0px;">
    		<h2>Videos</h2>
    		<hr>
    	</div>
        <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
            <a href="/video/7k4DsMm1nPA">
                <img src="https://img.youtube.com/vi/7k4DsMm1nPA/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
            </a> 
            <a href="/video/7k4DsMm1nPA" style="font-weight: bold;"> What Are Potential Issue...</a> 
            <em> Published on: 2 years ago</em>
        </div>
       
        <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
            <a href="/video/B5gR3Pa2cvU">
                <img src="https://img.youtube.com/vi/B5gR3Pa2cvU/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
            </a> 
            <a href="/video/B5gR3Pa2cvU" style="font-weight: bold;"> International Trademark ...</a> 
            <em> Published on: 2 years ago</em>
        </div>

        <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
            <a href="/video/EMsLW1B0Dfc">
                <img src="https://img.youtube.com/vi/EMsLW1B0Dfc/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
            </a> 
            <a href="/video/EMsLW1B0Dfc" style="font-weight: bold;"> What is a Priority Claim?</a> 
            <em> Published on: 2 years ago</em>
        </div>

        <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
            <a href="/video/XiiI_l0CfF8">
                <img src="https://img.youtube.com/vi/XiiI_l0CfF8/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
            </a> <a href="/video/XiiI_l0CfF8" style="font-weight: bold;"> Why Should You Register ...</a> 
            <em> Published on: 2 years ago</em>
        </div>

        <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
            <a href="/video/OTnNbijY5fY">
                <img src="https://img.youtube.com/vi/OTnNbijY5fY/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
            </a> <a href="/video/OTnNbijY5fY" style="font-weight: bold;"> What type of trademark s...</a> 
            <em> Published on: 2 years ago</em></div>

        <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
            <a href="/video/ZkgvkoGbNls">
                <img src="https://img.youtube.com/vi/ZkgvkoGbNls/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
            </a> 
            <a href="/video/ZkgvkoGbNls" style="font-weight: bold;"> Trademark Classes - All ...</a> 
            <em> Published on: 2 years ago</em></div>

        <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
            <a href="/video/8Jn-eKqNuNA">
                <img src="https://img.youtube.com/vi/8Jn-eKqNuNA/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
            </a> 
            <a href="/video/8Jn-eKqNuNA" style="font-weight: bold;"> EUIPO and Local Member S...</a> 
            <em> Published on: 2 years ago</em>
        </div>

        <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
            <a href="/video/rWy4Fftfprw">
                <img src="https://img.youtube.com/vi/rWy4Fftfprw/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
            </a> <a href="/video/rWy4Fftfprw" style="font-weight: bold;"> Copyrights vs Trademarks...</a> 
            <em> Published on: 2 years ago</em>
        </div>
    </div>
</div>