<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>Edit Trademark
    </h2>

    <% if(trademark) { %>
    <form class="row" action="/njs-admin/manage/trademark/edit/<%= trademark._id %>" method="post" encType="multipart/form-data">

    

        <div class="col-md-12">

            <div class="form-group">
                <label>Trademark</label>
                <input type="text" class="form-control" value="<%= trademark.mark %>" placeholder="" name="mark" disabled>
            </div>

            <div class="form-group">
                <label>Serial Number</label>
                <input type="text" class="form-control" value="<%= trademark.serialNumber %>" placeholder="" name="serialNumber" disabled>
            </div>

            <div class="form-group">
                <label>Registration Number</label>
                <input type="text" class="form-control" value="<%= trademark.registrationNumber %>" placeholder="" name="registrationNumber" disabled>
            </div>


            <hr>
        </div>

        <div class="col-md-12">

            <div class="form-group">
                <label>Trademark Certificate</label>
                <input type="file" class="form-control" placeholder="" name="certificate" >
            </div>




        </div>
 
        

        <div class="col-md-12">
            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-rounded-primary" style="padding-left:40px;padding-right:40px;">Update</button>
            </p>
        </div>

    </form>
    <% } %>
</div>
        

