<html>
  <head>
    <title>Trademarkers Notification | IMPORTANT!! Please read carefully</title>
  </head>
  <body>
<p>
Dear <%= mailData.user.name ? mailData.user.name : 'Trademarkers Client' %>
<br><br>

Today I have good news for you: The United States Patent and Trademark Office (USPTO) has issued a “Notice of Allowance” (NOA), which means that in principle you have received the green light for your brand <%= mailData.trademark.name %> to be registered as a trademark.
<br><br>
Now unlike many other trademark jurisdictions, the USPTO makes the registration of a trademark dependent on actual use, and such use has to be declared and proven by filing what is called a “Statement of Use”.
<br><br>
You have 6 months from the issue date of the NOA (which was on <%= mailData.dateFiledFormatted %>) to file such a statement with the USPTO. If you are not using the trademark now and you are unable to declare use within that time frame, you can file for an extension and get another 6 months (but there are limits after that).
<br><br>
Please click on the following link, which is self-explanatory:  
<a href="https://www.trademarkers.com/<%= mailData.number %>/statement-of-use" target="_blank" >
Review Options
</a>

<br><br>

If you have any more questions, let me know!

<br><br>

Best regards,
<br><br>

Michael<br>
-------<br>
Customer Service Specialist, Trademarkers LLC<br>
www.trademarkers.com<br>
</p>
</body>
</html>