<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;">
 <head> 
  <meta charset="UTF-8"> 
  <meta content="width=device-width, initial-scale=1" name="viewport"> 
  <meta name="x-apple-disable-message-reformatting"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta content="telephone=no" name="format-detection"> 
  <title>Trademarkers</title> 

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet"> 
   
 <style type="text/css">
	@media  only screen and (max-width:600px){
		p,ul li,ol li,a{
			font-size:16px!important;
			line-height:150%!important;
		}

}	@media  only screen and (max-width:600px){
		h1{
			font-size:24px!important;
			text-align:center;
			line-height:120%!important;
		}

}	@media  only screen and (max-width:600px){
		h2{
			font-size:22px!important;
			text-align:center;
			line-height:120%!important;
		}

}	@media  only screen and (max-width:600px){
		h3{
			font-size:18px!important;
			text-align:center;
			line-height:120%!important;
		}

}	@media  only screen and (max-width:600px){
		h1 a{
			font-size:24px!important;
		}

}	@media  only screen and (max-width:600px){
		h2 a{
			font-size:22px!important;
		}

}	@media  only screen and (max-width:600px){
		h3 a{
			font-size:18px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-menu td a{
			font-size:16px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-header-body p,.es-header-body ul li,.es-header-body ol li,.es-header-body a{
			font-size:16px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-footer-body p,.es-footer-body ul li,.es-footer-body ol li,.es-footer-body a{
			font-size:14px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-infoblock p,.es-infoblock ul li,.es-infoblock ol li,.es-infoblock a{
			font-size:12px!important;
		}

}	@media  only screen and (max-width:600px){
		*[class=gmail-fix]{
			display:none!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-txt-c,.es-m-txt-c h1,.es-m-txt-c h2,.es-m-txt-c h3{
			text-align:center!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-txt-r,.es-m-txt-r h1,.es-m-txt-r h2,.es-m-txt-r h3{
			text-align:right!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-txt-l,.es-m-txt-l h1,.es-m-txt-l h2,.es-m-txt-l h3{
			text-align:left!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-txt-r img,.es-m-txt-c img,.es-m-txt-l img{
			display:inline!important;
		}

}	@media  only screen and (max-width:600px){
		.es-button-border{
			display:block!important;
		}

}	@media  only screen and (max-width:600px){
		a.es-button{
			font-size:20px!important;
			display:block!important;
			border-left-width:0px!important;
			border-right-width:0px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-btn-fw{
			border-width:10px 0px!important;
			text-align:center!important;
		}

}	@media  only screen and (max-width:600px){
		.es-adaptive table,.es-btn-fw,.es-btn-fw-brdr,.es-left,.es-right{
			width:100%!important;
		}

}	@media  only screen and (max-width:600px){
		.es-content table,.es-header table,.es-footer table,.es-content,.es-footer,.es-header{
			width:100%!important;
			max-width:600px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-adapt-td{
			display:block!important;
			width:100%!important;
		}

}	@media  only screen and (max-width:600px){
		.adapt-img{
			width:100%!important;
			height:auto!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-p0{
			padding:0px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-p0r{
			padding-right:0px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-p0l{
			padding-left:0px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-p0t{
			padding-top:0px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-p0b{
			padding-bottom:0!important;
		}

}	@media  only screen and (max-width:600px){
		.es-m-p20b{
			padding-bottom:20px!important;
		}

}	@media  only screen and (max-width:600px){
		.es-mobile-hidden,.es-hidden{
			display:none!important;
		}

}	@media  only screen and (max-width:600px){
		.es-desk-hidden{
			display:table-row!important;
			width:auto!important;
			overflow:visible!important;
			float:none!important;
			max-height:inherit!important;
			line-height:inherit!important;
		}

}	@media  only screen and (max-width:600px){
		.es-desk-menu-hidden{
			display:table-cell!important;
		}

}	@media  only screen and (max-width:600px){
		table.es-table-not-adapt,.esd-block-html table{
			width:auto!important;
		}

}	@media  only screen and (max-width:600px){
		table.es-social{
			display:inline-block!important;
		}

}	@media  only screen and (max-width:600px){
		table.es-social td{
			display:inline-block!important;
		}

}		#outlook a{
			padding:0;
		}
		.ExternalClass{
			width:100%;
		}
		.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{
			line-height:100%;
		}
		.es-button{
			mso-style-priority:100!important;
			text-decoration:none!important;
		}
		a[x-apple-data-detectors]{
			color:inherit!important;
			text-decoration:none!important;
			font-size:inherit!important;
			font-family:inherit!important;
			font-weight:inherit!important;
			line-height:inherit!important;
		}
		.es-desk-hidden{
			display:none;
			float:left;
			overflow:hidden;
			width:0;
			max-height:0;
			line-height:0;
			mso-hide:all;
		}
		.es-button-border:hover a.es-button{
			background:#7dbf44!important;
			border-color:#7dbf44!important;
		}
		.es-button-border:hover{
			background:#7dbf44!important;
			border-color:#7dbf44 #7dbf44 #7dbf44 #7dbf44!important;
		}
		td .es-button-border:hover .es-button-1{
			background:#7dbf44!important;
			border-color:#7dbf44!important;
		}
		td .es-button-border-2:hover{
			background:#7dbf44!important;
		}
		td .es-button-border:hover a.es-button-3{
			background:#1994d6!important;
			border-color:#1994d6!important;
		}
		td .es-button-border-4:hover{
			background:#1994d6!important;
		}
		td .es-button-border:hover a.es-button-5{
			background:#1475a9!important;
			border-color:#1475a9!important;
		}
		td .es-button-border-6:hover{
			background:#1475a9!important;
		}
</style></head> 
<body>
  <p>Dear <%= mailData.user.name ? mailData.user.name : 'Trademarkers Client' %> </p>
  <p></p>
  <p>Today I have good news for you: The United States Patent and Trademark Office (USPTO) has issued a “Notice of Allowance” (NOA), which means that in principle you have received the green light for your brand ${brand} to be registered as a trademark.</p>
  <p>Now unlike many other trademark jurisdictions, the USPTO makes the registration of a trademark dependent on actual use, and such use has to be declared and proven by filing what is called a “Statement of Use”.</p>
  <p>You have 6 months from the issue date of the NOA (which was on ${date}) to file such a statement with the USPTO. If you are not using the trademark now and you are unable to declare use within that time frame, you can file for an extension and get another 6 months (but there are limits after that).</p>
  <p>Please click on the following link, which is self-explanatory:</p>
  <p><a href="https://www.trademarkers.com/<%= mailData.number %>/statement-of-use" style="text-decoration:none;font-family:roboto,'helvetica neue',helvetica,arial,sans-serif;font-size:18px;color:#ffffff;border-style:solid;border-color:#1475a9;border-width:10px 20px 10px 20px;display:block;background:#1475a9;border-radius:25px;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center;border-left-width:0px;border-right-width:0px" target="_blank" >
    Review Options
    </a></p>

  <p>If you have any more questions, let me know!</p>
  <p></p>
  <p></p>

  <p>Best regards,</p>    

  <p>Michael<br>
  -------<br>
  Customer Service Specialist, Trademarkers LLC<br>
  www.trademarkers.com</p>
  <!-- <img src="https://www.trademarkers.com/api/v1/mail/open?email=&eventId=" style="width:1px;height:1px"> -->
 </body>
</html>